<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重庆</title>
    <style>
        a{text-decoration: none;}
    </style>
</head>
<body>
<h1 align="center">重庆</h1>
    <table align="center" width="600px" height="400px" style="background-color:white;box-shadow:3px 3px 12px gray;padding:3px;">
        <tr><td align="center"><a href={% url '重庆岗位数量分布地图' %}>重庆岗位数量分布地图</a></td></tr>
        <tr><td align="center"><a href={% url '重庆各工资占比饼图' %}>重庆各工资占比饼图</a></td></tr>
        <tr><td align="center"><a href={% url '重庆公司规模象型柱图' %}>重庆公司规模象型柱图</a></td></tr>
        <tr><td align="center"><a href={% url '重庆经验要求漏斗图' %}>重庆经验要求漏斗图</a></td></tr>
        <tr><td align="center"><a href={% url '重庆热门行业词云图' %}>重庆热门行业词云图</a></td></tr>
        <tr><td align="center">
            <form action="http://127.0.0.1:8000/index/diqu/">
                <input type="submit" value="返回" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
            </form>
        </td></tr>
    </table>
</body>
</html>