<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

    <table>
        <tr>
            <td>
                <form action="quanguo/">
                    <input type="submit" value="全国分析" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
                </form>
            </td>
            <td>
                <form action="diqu/">
                <input type="submit" value="地区分析" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
                </form>
            </td>
        </tr>
    </table>



</body>
</html>