<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全国</title>

    <style>
        a{text-decoration: none;}
    </style>


</head>
<body bgcolor="#DEE0D5">
<h1 align="center">全国</h1>
    <table align="center" width="600px" height="400px" style="background-color:white;box-shadow:3px 3px 12px gray;padding:3px;">
        <tr><td align="center"><a href={% url '全国各地区岗位数量分布地图' %}>全国各地区岗位数量分布地图</a></td></tr>
        <tr><td align="center"><a href={% url '全国各地区高等教育岗位数量分布地图' %}>全国各地区高等教育岗位数量分布地图</a></td></tr>
        <tr><td align="center"><a href={% url '全国各地区普通教育岗位数量分布地图' %}>全国各地区普通教育岗位数量分布地图</a></td></tr>
        <tr><td align="center"><a href={% url '全国各地区岗位数量条形图' %}>全国各地区岗位数量条形图</a></td></tr>
        <tr><td align="center"><a href={% url '全国各地区岗位数量折线图' %}>全国各地区岗位数量折线图</a></td></tr>
        <tr><td align="center"><a href={% url '全国各工资占比饼图' %}>全国各工资占比饼图</a></td></tr>
        <tr><td align="center"><a href={% url '全国公司规模象型柱图' %}>全国公司规模象型柱图</td></tr>
        <tr><td align="center"><a href={% url '全国经验要求漏斗图' %}>全国经验要求漏斗图</td></tr>
        <tr><td align="center"><a href={% url '全国城市词云图' %}>全国城市词云图</td></tr>
        <tr><td align="center"><a href={% url '全国公司待遇词云图' %}>全国公司待遇词云图</td></tr>
        <tr><td align="center"><a href={% url '全国热门行业词云图' %}>全国热门行业词云图</td></tr>


        <tr><td align="center">
            <form action="http://127.0.0.1:8000/index/diqu/">
                <input type="submit" value="地区" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
            </form>
        </td></tr>
    </table>
</body>
</html>