<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>


    <table align="center">
        <tr><td>
            <div id="c0e9efce24524f07ba1cf024d1b81137" class="chart-container" style="width:900px; height:500px;"></div>
        </td></tr>

        <tr><td align="center">
            <form action="http://127.0.0.1:8000/index/quanguo/">
                <input type="submit" value="返回" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
            </form>
        </td></tr>
    </table>


    <script>
        var chart_c0e9efce24524f07ba1cf024d1b81137 = echarts.init(
            document.getElementById('c0e9efce24524f07ba1cf024d1b81137'), 'white', {renderer: 'canvas'});
        var option_c0e9efce24524f07ba1cf024d1b81137 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u6210\u90fd",
                    50117
                ],
                [
                    "\u5317\u4eac",
                    47682
                ],
                [
                    "\u4e0a\u6d77",
                    41197
                ],
                [
                    "\u676d\u5dde",
                    41035
                ],
                [
                    "\u5357\u4eac",
                    37035
                ],
                [
                    "\u6df1\u5733",
                    34353
                ],
                [
                    "\u91cd\u5e86",
                    33476
                ],
                [
                    "\u82cf\u5dde",
                    30993
                ],
                [
                    "\u5e7f\u5dde",
                    30888
                ],
                [
                    "\u897f\u5b89",
                    29677
                ],
                [
                    "\u6b66\u6c49",
                    26787
                ],
                [
                    "\u5b81\u6ce2",
                    23273
                ],
                [
                    "\u957f\u6c99",
                    21467
                ],
                [
                    "\u5408\u80a5",
                    20400
                ],
                [
                    "\u65e0\u9521",
                    19371
                ],
                [
                    "\u4e1c\u839e",
                    18850
                ],
                [
                    "\u4f5b\u5c71",
                    18301
                ],
                [
                    "\u6606\u660e",
                    16281
                ],
                [
                    "\u6c88\u9633",
                    14274
                ],
                [
                    "\u90d1\u5dde",
                    13790
                ],
                [
                    "\u9752\u5c9b",
                    12674
                ],
                [
                    "\u5929\u6d25",
                    11298
                ],
                [
                    "\u5e38\u5dde",
                    10869
                ],
                [
                    "\u5927\u8fde",
                    10279
                ],
                [
                    "\u6d4e\u5357",
                    9500
                ],
                [
                    "\u798f\u5dde",
                    8942
                ],
                [
                    "\u73e0\u6d77",
                    8834
                ],
                [
                    "\u5357\u660c",
                    8583
                ],
                [
                    "\u53a6\u95e8",
                    7393
                ],
                [
                    "\u6606\u5c71",
                    7054
                ],
                [
                    "\u60e0\u5dde",
                    6223
                ],
                [
                    "\u5609\u5174",
                    5600
                ],
                [
                    "\u5357\u901a",
                    5564
                ],
                [
                    "\u4e2d\u5c71",
                    5373
                ],
                [
                    "\u54c8\u5c14\u6ee8",
                    5340
                ],
                [
                    "\u5357\u5b81",
                    3995
                ],
                [
                    "\u957f\u6625",
                    3978
                ],
                [
                    "\u8d35\u9633",
                    3254
                ],
                [
                    "\u6e29\u5dde",
                    3232
                ],
                [
                    "\u5f90\u5dde",
                    3012
                ],
                [
                    "\u7ecd\u5174",
                    2852
                ],
                [
                    "\u77f3\u5bb6\u5e84",
                    2745
                ],
                [
                    "\u6c5f\u95e8",
                    2618
                ],
                [
                    "\u626c\u5dde",
                    2536
                ],
                [
                    "\u6d77\u53e3",
                    2337
                ],
                [
                    "\u829c\u6e56",
                    2085
                ],
                [
                    "\u5e38\u719f",
                    2074
                ],
                [
                    "\u53f0\u5dde",
                    1961
                ],
                [
                    "\u6e56\u5dde",
                    1933
                ],
                [
                    "\u91d1\u534e",
                    1778
                ],
                [
                    "\u6cf0\u5dde",
                    1708
                ],
                [
                    "\u70df\u53f0",
                    1706
                ],
                [
                    "\u5170\u5dde",
                    1703
                ],
                [
                    "\u592a\u539f",
                    1699
                ],
                [
                    "\u6cc9\u5dde",
                    1645
                ],
                [
                    "\u76d0\u57ce",
                    1568
                ],
                [
                    "\u9547\u6c5f",
                    1529
                ],
                [
                    "\u6e05\u8fdc",
                    1372
                ],
                [
                    "\u6e5b\u6c5f",
                    1336
                ],
                [
                    "\u8fde\u4e91\u6e2f",
                    1307
                ],
                [
                    "\u7ef5\u9633",
                    1176
                ],
                [
                    "\u6dee\u5b89",
                    1148
                ],
                [
                    "\u5f20\u5bb6\u6e2f",
                    1136
                ],
                [
                    "\u8944\u9633",
                    1113
                ],
                [
                    "\u8087\u5e86",
                    1091
                ],
                [
                    "\u592a\u4ed3",
                    1064
                ],
                [
                    "\u4e4c\u9c81\u6728\u9f50\u5e02",
                    1053
                ],
                [
                    "\u5b9c\u660c",
                    1021
                ],
                [
                    "\u6d1b\u9633",
                    973
                ],
                [
                    "\u6f4d\u574a",
                    956
                ],
                [
                    "\u6ec1\u5dde",
                    898
                ],
                [
                    "\u8346\u5dde",
                    883
                ],
                [
                    "\u94f6\u5ddd",
                    858
                ],
                [
                    "\u6c55\u5934",
                    819
                ],
                [
                    "\u67f3\u5dde",
                    772
                ],
                [
                    "\u4fdd\u5b9a",
                    770
                ],
                [
                    "\u547c\u548c\u6d69\u7279\u5e02",
                    766
                ],
                [
                    "\u4e34\u6c82",
                    722
                ],
                [
                    "\u4e49\u4e4c",
                    721
                ],
                [
                    "\u682a\u6d32",
                    714
                ],
                [
                    "\u5a01\u6d77",
                    699
                ],
                [
                    "\u8d63\u5dde",
                    695
                ],
                [
                    "\u5bbf\u8fc1",
                    694
                ],
                [
                    "\u4e5d\u6c5f",
                    677
                ],
                [
                    "\u6842\u6797",
                    660
                ],
                [
                    "\u4e09\u4e9a",
                    609
                ],
                [
                    "\u8862\u5dde",
                    594
                ],
                [
                    "\u54b8\u9633",
                    586
                ],
                [
                    "\u8386\u7530",
                    571
                ],
                [
                    "\u9ec4\u77f3",
                    568
                ],
                [
                    "\u5b5d\u611f",
                    560
                ],
                [
                    "\u5510\u5c71",
                    554
                ],
                [
                    "\u4e0a\u9976",
                    545
                ],
                [
                    "\u5eca\u574a",
                    540
                ],
                [
                    "\u7709\u5c71",
                    534
                ],
                [
                    "\u961c\u9633",
                    532
                ],
                [
                    "\u9a6c\u978d\u5c71",
                    526
                ],
                [
                    "\u5b81\u5fb7",
                    526
                ],
                [
                    "\u6dc4\u535a",
                    517
                ],
                [
                    "\u5e38\u5fb7",
                    501
                ],
                [
                    "\u8861\u9633",
                    497
                ],
                [
                    "\u9633\u6c5f",
                    488
                ],
                [
                    "\u5357\u9633",
                    483
                ],
                [
                    "\u6cf8\u5dde",
                    482
                ],
                [
                    "\u5b9c\u6625",
                    475
                ],
                [
                    "\u5cb3\u9633",
                    471
                ],
                [
                    "\u868c\u57e0",
                    466
                ],
                [
                    "\u8346\u95e8",
                    465
                ],
                [
                    "\u6e58\u6f6d",
                    453
                ],
                [
                    "\u8302\u540d",
                    444
                ],
                [
                    "\u97f6\u5173",
                    432
                ],
                [
                    "\u5409\u5b89",
                    422
                ],
                [
                    "\u5fb7\u9633",
                    418
                ],
                [
                    "\u9ec4\u5188",
                    415
                ],
                [
                    "\u54b8\u5b81",
                    414
                ],
                [
                    "\u4e50\u5c71",
                    411
                ],
                [
                    "\u6cb3\u6e90",
                    401
                ],
                [
                    "\u65b0\u4e61",
                    394
                ],
                [
                    "\u6f33\u5dde",
                    394
                ],
                [
                    "\u4e3d\u6c34",
                    388
                ],
                [
                    "\u6d4e\u5b81",
                    386
                ],
                [
                    "\u6cf0\u5b89",
                    384
                ],
                [
                    "\u5b9c\u5bbe",
                    375
                ],
                [
                    "\u5357\u5145",
                    368
                ],
                [
                    "\u516d\u5b89",
                    367
                ],
                [
                    "\u5341\u5830",
                    349
                ],
                [
                    "\u897f\u5b81",
                    346
                ],
                [
                    "\u9102\u5dde",
                    343
                ],
                [
                    "\u5b9d\u9e21",
                    328
                ],
                [
                    "\u978d\u5c71",
                    321
                ],
                [
                    "\u6885\u5dde",
                    316
                ],
                [
                    "\u6d77\u5b81",
                    307
                ],
                [
                    "\u66f2\u9756",
                    300
                ],
                [
                    "\u5b89\u5e86",
                    298
                ],
                [
                    "\u79e6\u7687\u5c9b",
                    298
                ],
                [
                    "\u821f\u5c71",
                    296
                ],
                [
                    "\u90af\u90f8",
                    293
                ],
                [
                    "\u5fb7\u5dde",
                    284
                ],
                [
                    "\u6dee\u5317",
                    273
                ],
                [
                    "\u6ca7\u5dde",
                    271
                ],
                [
                    "\u63ed\u9633",
                    271
                ],
                [
                    "\u90f4\u5dde",
                    267
                ],
                [
                    "\u6f6e\u5dde",
                    264
                ],
                [
                    "\u9042\u5b81",
                    262
                ],
                [
                    "\u5f00\u5c01",
                    259
                ],
                [
                    "\u4e91\u6d6e",
                    255
                ],
                [
                    "\u629a\u5dde",
                    248
                ],
                [
                    "\u840d\u4e61",
                    243
                ],
                [
                    "\u7126\u4f5c",
                    235
                ],
                [
                    "\u5bbf\u5dde",
                    235
                ],
                [
                    "\u4eb3\u5dde",
                    234
                ],
                [
                    "\u9075\u4e49",
                    232
                ],
                [
                    "\u7ea2\u6cb3",
                    224
                ],
                [
                    "\u5927\u7406",
                    222
                ],
                [
                    "\u83cf\u6cfd",
                    220
                ],
                [
                    "\u6e2d\u5357",
                    220
                ],
                [
                    "\u4e39\u9633",
                    219
                ],
                [
                    "\u76ca\u9633",
                    217
                ],
                [
                    "\u90b5\u9633",
                    207
                ],
                [
                    "\u897f\u53cc\u7248\u7eb3",
                    206
                ],
                [
                    "\u804a\u57ce",
                    205
                ],
                [
                    "\u6cf0\u5174",
                    205
                ],
                [
                    "\u5ba3\u57ce",
                    205
                ],
                [
                    "\u6dee\u5357",
                    196
                ],
                [
                    "\u5357\u5e73",
                    195
                ],
                [
                    "\u7389\u6eaa",
                    194
                ],
                [
                    "\u5185\u6c5f",
                    190
                ],
                [
                    "\u5e7f\u5b89",
                    186
                ],
                [
                    "\u666f\u5fb7\u9547",
                    186
                ],
                [
                    "\u71d5\u90ca\u5f00\u53d1\u533a",
                    186
                ],
                [
                    "\u9f99\u5ca9",
                    185
                ],
                [
                    "\u9f50\u9f50\u54c8\u5c14",
                    184
                ],
                [
                    "\u6c55\u5c3e",
                    181
                ],
                [
                    "\u65e5\u7167",
                    179
                ],
                [
                    "\u81ea\u8d21",
                    179
                ],
                [
                    "\u4fe1\u9633",
                    175
                ],
                [
                    "\u9a7b\u9a6c\u5e97",
                    172
                ],
                [
                    "\u90a2\u53f0",
                    167
                ],
                [
                    "\u968f\u5dde",
                    166
                ],
                [
                    "\u5546\u4e18",
                    163
                ],
                [
                    "\u6ee8\u5dde",
                    160
                ],
                [
                    "\u9ec4\u5c71",
                    160
                ],
                [
                    "\u5a04\u5e95",
                    160
                ],
                [
                    "\u94dc\u9675",
                    160
                ],
                [
                    "\u5305\u5934\u5e02",
                    159
                ],
                [
                    "\u5409\u6797",
                    156
                ],
                [
                    "\u94a6\u5dde",
                    154
                ],
                [
                    "\u662d\u901a",
                    150
                ],
                [
                    "\u5b89\u9633",
                    149
                ],
                [
                    "\u9e70\u6f6d",
                    149
                ],
                [
                    "\u695a\u96c4",
                    147
                ],
                [
                    "\u7389\u6797",
                    147
                ],
                [
                    "\u67a3\u5e84",
                    144
                ],
                [
                    "\u6986\u6797",
                    143
                ],
                [
                    "\u629a\u987a",
                    142
                ],
                [
                    "\u8fbe\u5dde",
                    141
                ],
                [
                    "\u4e39\u4e1c",
                    141
                ],
                [
                    "\u5317\u6d77",
                    140
                ],
                [
                    "\u4fdd\u5c71",
                    140
                ],
                [
                    "\u6c60\u5dde",
                    140
                ],
                [
                    "\u4e1c\u8425",
                    140
                ],
                [
                    "\u5f20\u5bb6\u53e3",
                    140
                ],
                [
                    "\u62c9\u8428\u5e02",
                    138
                ],
                [
                    "\u9756\u6c5f",
                    136
                ],
                [
                    "\u5927\u5e86",
                    135
                ],
                [
                    "\u96c5\u5b89",
                    134
                ],
                [
                    "\u4e09\u660e",
                    133
                ],
                [
                    "\u7ee5\u5316",
                    132
                ],
                [
                    "\u8861\u6c34",
                    131
                ],
                [
                    "\u6000\u5316",
                    125
                ],
                [
                    "\u8bb8\u660c",
                    124
                ],
                [
                    "\u65b0\u4f59",
                    122
                ],
                [
                    "\u8d44\u9633",
                    120
                ],
                [
                    "\u4e3d\u6c5f",
                    119
                ],
                [
                    "\u9ed4\u5357",
                    119
                ],
                [
                    "\u6c49\u4e2d",
                    117
                ],
                [
                    "\u5468\u53e3",
                    116
                ],
                [
                    "\u76d8\u9526",
                    113
                ],
                [
                    "\u8425\u53e3",
                    112
                ],
                [
                    "\u8d64\u5cf0\u5e02",
                    110
                ],
                [
                    "\u4ed9\u6843",
                    108
                ],
                [
                    "\u6500\u679d\u82b1",
                    107
                ],
                [
                    "\u6069\u65bd\u571f\u5bb6\u82d7\u65cf\u65cf\u81ea\u6cbb\u5dde",
                    105
                ],
                [
                    "\u5b89\u5eb7",
                    104
                ],
                [
                    "\u5e73\u9876\u5c71",
                    104
                ],
                [
                    "\u6bd5\u8282",
                    103
                ],
                [
                    "\u6c38\u5dde",
                    103
                ],
                [
                    "\u9526\u5dde",
                    99
                ],
                [
                    "\u4e09\u95e8\u5ce1",
                    97
                ],
                [
                    "\u6f5c\u6c5f",
                    94
                ],
                [
                    "\u6587\u5c71",
                    94
                ],
                [
                    "\u8fd0\u57ce",
                    94
                ],
                [
                    "\u6fee\u9633",
                    93
                ],
                [
                    "\u5fb7\u5b8f",
                    92
                ],
                [
                    "\u68a7\u5dde",
                    92
                ],
                [
                    "\u627f\u5fb7",
                    91
                ],
                [
                    "\u9e64\u58c1",
                    90
                ],
                [
                    "\u6765\u5bbe",
                    87
                ],
                [
                    "\u6f2f\u6cb3",
                    85
                ],
                [
                    "\u8d35\u6e2f",
                    84
                ],
                [
                    "\u5ef6\u5b89",
                    84
                ],
                [
                    "\u9102\u5c14\u591a\u65af\u5e02",
                    83
                ],
                [
                    "\u4e34\u6c7e",
                    79
                ],
                [
                    "\u96c4\u5b89\u65b0\u533a",
                    79
                ],
                [
                    "\u672c\u6eaa",
                    78
                ],
                [
                    "\u5927\u540c",
                    78
                ],
                [
                    "\u94dc\u5ddd",
                    76
                ],
                [
                    "\u5e7f\u5143",
                    74
                ],
                [
                    "\u9ed4\u897f\u5357",
                    74
                ],
                [
                    "\u510b\u5dde",
                    69
                ],
                [
                    "\u666e\u6d31",
                    69
                ],
                [
                    "\u6e58\u897f",
                    69
                ],
                [
                    "\u94dc\u4ec1",
                    68
                ],
                [
                    "\u8d3a\u5dde",
                    67
                ],
                [
                    "\u94c1\u5cad",
                    65
                ],
                [
                    "\u5929\u95e8",
                    64
                ],
                [
                    "\u7261\u4e39\u6c5f",
                    63
                ],
                [
                    "\u4f73\u6728\u65af",
                    63
                ],
                [
                    "\u9675\u6c34",
                    62
                ],
                [
                    "\u957f\u6cbb",
                    60
                ],
                [
                    "\u516d\u76d8\u6c34",
                    60
                ],
                [
                    "\u51c9\u5c71",
                    59
                ],
                [
                    "\u5df4\u4e2d",
                    58
                ],
                [
                    "\u767d\u57ce",
                    57
                ],
                [
                    "\u846b\u82a6\u5c9b",
                    57
                ],
                [
                    "\u56db\u5e73",
                    57
                ],
                [
                    "\u8fbd\u9633",
                    56
                ],
                [
                    "\u5b89\u987a",
                    55
                ],
                [
                    "\u664b\u4e2d",
                    55
                ],
                [
                    "\u5d07\u5de6",
                    54
                ],
                [
                    "\u897f\u660c",
                    54
                ],
                [
                    "\u4e34\u6ca7",
                    53
                ],
                [
                    "\u5580\u4ec0\u5730\u533a",
                    52
                ],
                [
                    "\u5546\u6d1b",
                    52
                ],
                [
                    "\u9ed4\u4e1c\u5357",
                    51
                ],
                [
                    "\u901a\u5316",
                    51
                ],
                [
                    "\u6768\u51cc",
                    51
                ],
                [
                    "\u767e\u8272",
                    50
                ],
                [
                    "\u961c\u65b0",
                    50
                ],
                [
                    "\u664b\u57ce",
                    50
                ],
                [
                    "\u5f20\u5bb6\u754c",
                    50
                ],
                [
                    "\u660c\u5409\u56de\u65cf\u81ea\u6cbb\u5dde",
                    47
                ],
                [
                    "\u677e\u539f",
                    44
                ],
                [
                    "\u671d\u9633",
                    37
                ],
                [
                    "\u9632\u57ce\u6e2f",
                    37
                ],
                [
                    "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                    37
                ],
                [
                    "\u743c\u6d77",
                    36
                ],
                [
                    "\u5ffb\u5dde",
                    36
                ],
                [
                    "\u547c\u4f26\u8d1d\u5c14\u5e02",
                    32
                ],
                [
                    "\u9e21\u897f",
                    32
                ],
                [
                    "\u5f00\u5e73",
                    32
                ],
                [
                    "\u514b\u62c9\u739b\u4f9d\u5e02",
                    32
                ],
                [
                    "\u5415\u6881",
                    32
                ],
                [
                    "\u901a\u8fbd\u5e02",
                    32
                ],
                [
                    "\u4e07\u5b81",
                    32
                ],
                [
                    "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                    32
                ],
                [
                    "\u6714\u5dde",
                    31
                ],
                [
                    "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                    31
                ],
                [
                    "\u6f84\u8fc8\u53bf",
                    30
                ],
                [
                    "\u6cb3\u6c60",
                    30
                ],
                [
                    "\u9ed1\u6cb3",
                    30
                ],
                [
                    "\u5df4\u97f3\u90ed\u695e\u8499\u53e4\u81ea\u6cbb\u5dde",
                    29
                ],
                [
                    "\u5929\u6c34",
                    29
                ],
                [
                    "\u5434\u5fe0",
                    27
                ],
                [
                    "\u5ef6\u5409",
                    26
                ],
                [
                    "\u4e4c\u6d77",
                    25
                ],
                [
                    "\u9521\u6797\u90ed\u52d2\u76df",
                    25
                ],
                [
                    "\u7518\u5b5c",
                    24
                ],
                [
                    "\u6d4e\u6e90",
                    24
                ],
                [
                    "\u963f\u514b\u82cf\u5730\u533a",
                    23
                ],
                [
                    "\u77f3\u6cb3\u5b50\u5e02",
                    23
                ],
                [
                    "\u4f0a\u6625",
                    23
                ],
                [
                    "\u4e2d\u536b",
                    23
                ],
                [
                    "\u5df4\u5f66\u6dd6\u5c14\u5e02",
                    22
                ],
                [
                    "\u9152\u6cc9",
                    21
                ],
                [
                    "\u6587\u660c",
                    21
                ],
                [
                    "\u56fa\u539f",
                    20
                ],
                [
                    "\u6012\u6c5f",
                    20
                ],
                [
                    "\u77f3\u5634\u5c71",
                    20
                ],
                [
                    "\u5174\u5b89\u76df",
                    20
                ],
                [
                    "\u9633\u6cc9",
                    20
                ],
                [
                    "\u767d\u94f6",
                    19
                ],
                [
                    "\u9e64\u5c97",
                    19
                ],
                [
                    "\u53cc\u9e2d\u5c71",
                    19
                ],
                [
                    "\u795e\u519c\u67b6\u6797\u533a",
                    18
                ],
                [
                    "\u660c\u6c5f",
                    17
                ],
                [
                    "\u8fea\u5e86",
                    17
                ],
                [
                    "\u4e03\u53f0\u6cb3",
                    17
                ],
                [
                    "\u963f\u575d",
                    16
                ],
                [
                    "\u6d77\u4e1c",
                    16
                ],
                [
                    "\u6797\u829d\u5e02",
                    16
                ],
                [
                    "\u6d77\u897f",
                    15
                ],
                [
                    "\u5e86\u9633",
                    15
                ],
                [
                    "\u6b66\u5a01",
                    15
                ],
                [
                    "\u5b9a\u897f",
                    14
                ],
                [
                    "\u65e5\u5580\u5219\u5e02",
                    14
                ],
                [
                    "\u767d\u5c71",
                    13
                ],
                [
                    "\u91d1\u660c",
                    13
                ],
                [
                    "\u4e34\u9ad8\u53bf",
                    13
                ],
                [
                    "\u8fbd\u6e90",
                    13
                ],
                [
                    "\u5f20\u6396",
                    13
                ],
                [
                    "\u9093\u5dde",
                    12
                ],
                [
                    "\u5927\u5174\u5b89\u5cad",
                    12
                ],
                [
                    "\u9647\u5357",
                    12
                ],
                [
                    "\u5e73\u51c9",
                    12
                ],
                [
                    "\u54c8\u5bc6\u5e02",
                    11
                ],
                [
                    "\u548c\u7530\u5730\u533a",
                    11
                ],
                [
                    "\u5609\u5cea\u5173",
                    11
                ],
                [
                    "\u4e50\u4e1c",
                    10
                ],
                [
                    "\u4e1c\u65b9",
                    9
                ],
                [
                    "\u5410\u9c81\u756a\u5e02",
                    9
                ],
                [
                    "\u7389\u6811",
                    8
                ],
                [
                    "\u7518\u5357",
                    7
                ],
                [
                    "\u5854\u57ce\u5730\u533a",
                    7
                ],
                [
                    "\u743c\u4e2d",
                    7
                ],
                [
                    "\u5b9a\u5b89\u53bf",
                    6
                ],
                [
                    "\u6d77\u5357",
                    6
                ],
                [
                    "\u4e34\u590f",
                    6
                ],
                [
                    "\u4e94\u6307\u5c71",
                    6
                ],
                [
                    "\u963f\u62c9\u5584\u76df",
                    5
                ],
                [
                    "\u963f\u52d2\u6cf0\u5730\u533a",
                    5
                ],
                [
                    "\u56fe\u6728\u8212\u514b\u5e02",
                    5
                ],
                [
                    "\u963f\u91cc\u5730\u533a",
                    4
                ],
                [
                    "\u4fdd\u4ead",
                    4
                ],
                [
                    "\u767d\u6c99",
                    4
                ],
                [
                    "\u90a3\u66f2\u5730\u533a",
                    4
                ],
                [
                    "\u4e09\u6c99",
                    4
                ],
                [
                    "\u5c6f\u660c\u53bf",
                    4
                ],
                [
                    "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                    3
                ],
                [
                    "\u660c\u90fd\u5e02",
                    3
                ],
                [
                    "\u679c\u6d1b",
                    3
                ],
                [
                    "\u6d77\u5317",
                    3
                ],
                [
                    "\u9ec4\u5357",
                    3
                ],
                [
                    "\u5c71\u5357\u5e02",
                    3
                ],
                [
                    "\u963f\u62c9\u5c14\u5e02",
                    2
                ],
                [
                    "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                    2
                ],
                [
                    "\u4e94\u5bb6\u6e20\u5e02",
                    2
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": false,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6210\u90fd",
                "\u5317\u4eac",
                "\u4e0a\u6d77",
                "\u676d\u5dde",
                "\u5357\u4eac",
                "\u6df1\u5733",
                "\u91cd\u5e86",
                "\u82cf\u5dde",
                "\u5e7f\u5dde",
                "\u897f\u5b89",
                "\u6b66\u6c49",
                "\u5b81\u6ce2",
                "\u957f\u6c99",
                "\u5408\u80a5",
                "\u65e0\u9521",
                "\u4e1c\u839e",
                "\u4f5b\u5c71",
                "\u6606\u660e",
                "\u6c88\u9633",
                "\u90d1\u5dde",
                "\u9752\u5c9b",
                "\u5929\u6d25",
                "\u5e38\u5dde",
                "\u5927\u8fde",
                "\u6d4e\u5357",
                "\u798f\u5dde",
                "\u73e0\u6d77",
                "\u5357\u660c",
                "\u53a6\u95e8",
                "\u6606\u5c71",
                "\u60e0\u5dde",
                "\u5609\u5174",
                "\u5357\u901a",
                "\u4e2d\u5c71",
                "\u54c8\u5c14\u6ee8",
                "\u5357\u5b81",
                "\u957f\u6625",
                "\u8d35\u9633",
                "\u6e29\u5dde",
                "\u5f90\u5dde",
                "\u7ecd\u5174",
                "\u77f3\u5bb6\u5e84",
                "\u6c5f\u95e8",
                "\u626c\u5dde",
                "\u6d77\u53e3",
                "\u829c\u6e56",
                "\u5e38\u719f",
                "\u53f0\u5dde",
                "\u6e56\u5dde",
                "\u91d1\u534e",
                "\u6cf0\u5dde",
                "\u70df\u53f0",
                "\u5170\u5dde",
                "\u592a\u539f",
                "\u6cc9\u5dde",
                "\u76d0\u57ce",
                "\u9547\u6c5f",
                "\u6e05\u8fdc",
                "\u6e5b\u6c5f",
                "\u8fde\u4e91\u6e2f",
                "\u7ef5\u9633",
                "\u6dee\u5b89",
                "\u5f20\u5bb6\u6e2f",
                "\u8944\u9633",
                "\u8087\u5e86",
                "\u592a\u4ed3",
                "\u4e4c\u9c81\u6728\u9f50\u5e02",
                "\u5b9c\u660c",
                "\u6d1b\u9633",
                "\u6f4d\u574a",
                "\u6ec1\u5dde",
                "\u8346\u5dde",
                "\u94f6\u5ddd",
                "\u6c55\u5934",
                "\u67f3\u5dde",
                "\u4fdd\u5b9a",
                "\u547c\u548c\u6d69\u7279\u5e02",
                "\u4e34\u6c82",
                "\u4e49\u4e4c",
                "\u682a\u6d32",
                "\u5a01\u6d77",
                "\u8d63\u5dde",
                "\u5bbf\u8fc1",
                "\u4e5d\u6c5f",
                "\u6842\u6797",
                "\u4e09\u4e9a",
                "\u8862\u5dde",
                "\u54b8\u9633",
                "\u8386\u7530",
                "\u9ec4\u77f3",
                "\u5b5d\u611f",
                "\u5510\u5c71",
                "\u4e0a\u9976",
                "\u5eca\u574a",
                "\u7709\u5c71",
                "\u961c\u9633",
                "\u9a6c\u978d\u5c71",
                "\u5b81\u5fb7",
                "\u6dc4\u535a",
                "\u5e38\u5fb7",
                "\u8861\u9633",
                "\u9633\u6c5f",
                "\u5357\u9633",
                "\u6cf8\u5dde",
                "\u5b9c\u6625",
                "\u5cb3\u9633",
                "\u868c\u57e0",
                "\u8346\u95e8",
                "\u6e58\u6f6d",
                "\u8302\u540d",
                "\u97f6\u5173",
                "\u5409\u5b89",
                "\u5fb7\u9633",
                "\u9ec4\u5188",
                "\u54b8\u5b81",
                "\u4e50\u5c71",
                "\u6cb3\u6e90",
                "\u65b0\u4e61",
                "\u6f33\u5dde",
                "\u4e3d\u6c34",
                "\u6d4e\u5b81",
                "\u6cf0\u5b89",
                "\u5b9c\u5bbe",
                "\u5357\u5145",
                "\u516d\u5b89",
                "\u5341\u5830",
                "\u897f\u5b81",
                "\u9102\u5dde",
                "\u5b9d\u9e21",
                "\u978d\u5c71",
                "\u6885\u5dde",
                "\u6d77\u5b81",
                "\u66f2\u9756",
                "\u5b89\u5e86",
                "\u79e6\u7687\u5c9b",
                "\u821f\u5c71",
                "\u90af\u90f8",
                "\u5fb7\u5dde",
                "\u6dee\u5317",
                "\u6ca7\u5dde",
                "\u63ed\u9633",
                "\u90f4\u5dde",
                "\u6f6e\u5dde",
                "\u9042\u5b81",
                "\u5f00\u5c01",
                "\u4e91\u6d6e",
                "\u629a\u5dde",
                "\u840d\u4e61",
                "\u7126\u4f5c",
                "\u5bbf\u5dde",
                "\u4eb3\u5dde",
                "\u9075\u4e49",
                "\u7ea2\u6cb3",
                "\u5927\u7406",
                "\u83cf\u6cfd",
                "\u6e2d\u5357",
                "\u4e39\u9633",
                "\u76ca\u9633",
                "\u90b5\u9633",
                "\u897f\u53cc\u7248\u7eb3",
                "\u804a\u57ce",
                "\u6cf0\u5174",
                "\u5ba3\u57ce",
                "\u6dee\u5357",
                "\u5357\u5e73",
                "\u7389\u6eaa",
                "\u5185\u6c5f",
                "\u5e7f\u5b89",
                "\u666f\u5fb7\u9547",
                "\u71d5\u90ca\u5f00\u53d1\u533a",
                "\u9f99\u5ca9",
                "\u9f50\u9f50\u54c8\u5c14",
                "\u6c55\u5c3e",
                "\u65e5\u7167",
                "\u81ea\u8d21",
                "\u4fe1\u9633",
                "\u9a7b\u9a6c\u5e97",
                "\u90a2\u53f0",
                "\u968f\u5dde",
                "\u5546\u4e18",
                "\u6ee8\u5dde",
                "\u9ec4\u5c71",
                "\u5a04\u5e95",
                "\u94dc\u9675",
                "\u5305\u5934\u5e02",
                "\u5409\u6797",
                "\u94a6\u5dde",
                "\u662d\u901a",
                "\u5b89\u9633",
                "\u9e70\u6f6d",
                "\u695a\u96c4",
                "\u7389\u6797",
                "\u67a3\u5e84",
                "\u6986\u6797",
                "\u629a\u987a",
                "\u8fbe\u5dde",
                "\u4e39\u4e1c",
                "\u5317\u6d77",
                "\u4fdd\u5c71",
                "\u6c60\u5dde",
                "\u4e1c\u8425",
                "\u5f20\u5bb6\u53e3",
                "\u62c9\u8428\u5e02",
                "\u9756\u6c5f",
                "\u5927\u5e86",
                "\u96c5\u5b89",
                "\u4e09\u660e",
                "\u7ee5\u5316",
                "\u8861\u6c34",
                "\u6000\u5316",
                "\u8bb8\u660c",
                "\u65b0\u4f59",
                "\u8d44\u9633",
                "\u4e3d\u6c5f",
                "\u9ed4\u5357",
                "\u6c49\u4e2d",
                "\u5468\u53e3",
                "\u76d8\u9526",
                "\u8425\u53e3",
                "\u8d64\u5cf0\u5e02",
                "\u4ed9\u6843",
                "\u6500\u679d\u82b1",
                "\u6069\u65bd\u571f\u5bb6\u82d7\u65cf\u65cf\u81ea\u6cbb\u5dde",
                "\u5b89\u5eb7",
                "\u5e73\u9876\u5c71",
                "\u6bd5\u8282",
                "\u6c38\u5dde",
                "\u9526\u5dde",
                "\u4e09\u95e8\u5ce1",
                "\u6f5c\u6c5f",
                "\u6587\u5c71",
                "\u8fd0\u57ce",
                "\u6fee\u9633",
                "\u5fb7\u5b8f",
                "\u68a7\u5dde",
                "\u627f\u5fb7",
                "\u9e64\u58c1",
                "\u6765\u5bbe",
                "\u6f2f\u6cb3",
                "\u8d35\u6e2f",
                "\u5ef6\u5b89",
                "\u9102\u5c14\u591a\u65af\u5e02",
                "\u4e34\u6c7e",
                "\u96c4\u5b89\u65b0\u533a",
                "\u672c\u6eaa",
                "\u5927\u540c",
                "\u94dc\u5ddd",
                "\u5e7f\u5143",
                "\u9ed4\u897f\u5357",
                "\u510b\u5dde",
                "\u666e\u6d31",
                "\u6e58\u897f",
                "\u94dc\u4ec1",
                "\u8d3a\u5dde",
                "\u94c1\u5cad",
                "\u5929\u95e8",
                "\u7261\u4e39\u6c5f",
                "\u4f73\u6728\u65af",
                "\u9675\u6c34",
                "\u957f\u6cbb",
                "\u516d\u76d8\u6c34",
                "\u51c9\u5c71",
                "\u5df4\u4e2d",
                "\u767d\u57ce",
                "\u846b\u82a6\u5c9b",
                "\u56db\u5e73",
                "\u8fbd\u9633",
                "\u5b89\u987a",
                "\u664b\u4e2d",
                "\u5d07\u5de6",
                "\u897f\u660c",
                "\u4e34\u6ca7",
                "\u5580\u4ec0\u5730\u533a",
                "\u5546\u6d1b",
                "\u9ed4\u4e1c\u5357",
                "\u901a\u5316",
                "\u6768\u51cc",
                "\u767e\u8272",
                "\u961c\u65b0",
                "\u664b\u57ce",
                "\u5f20\u5bb6\u754c",
                "\u660c\u5409\u56de\u65cf\u81ea\u6cbb\u5dde",
                "\u677e\u539f",
                "\u671d\u9633",
                "\u9632\u57ce\u6e2f",
                "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                "\u743c\u6d77",
                "\u5ffb\u5dde",
                "\u547c\u4f26\u8d1d\u5c14\u5e02",
                "\u9e21\u897f",
                "\u5f00\u5e73",
                "\u514b\u62c9\u739b\u4f9d\u5e02",
                "\u5415\u6881",
                "\u901a\u8fbd\u5e02",
                "\u4e07\u5b81",
                "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                "\u6714\u5dde",
                "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                "\u6f84\u8fc8\u53bf",
                "\u6cb3\u6c60",
                "\u9ed1\u6cb3",
                "\u5df4\u97f3\u90ed\u695e\u8499\u53e4\u81ea\u6cbb\u5dde",
                "\u5929\u6c34",
                "\u5434\u5fe0",
                "\u5ef6\u5409",
                "\u4e4c\u6d77",
                "\u9521\u6797\u90ed\u52d2\u76df",
                "\u7518\u5b5c",
                "\u6d4e\u6e90",
                "\u963f\u514b\u82cf\u5730\u533a",
                "\u77f3\u6cb3\u5b50\u5e02",
                "\u4f0a\u6625",
                "\u4e2d\u536b",
                "\u5df4\u5f66\u6dd6\u5c14\u5e02",
                "\u9152\u6cc9",
                "\u6587\u660c",
                "\u56fa\u539f",
                "\u6012\u6c5f",
                "\u77f3\u5634\u5c71",
                "\u5174\u5b89\u76df",
                "\u9633\u6cc9",
                "\u767d\u94f6",
                "\u9e64\u5c97",
                "\u53cc\u9e2d\u5c71",
                "\u795e\u519c\u67b6\u6797\u533a",
                "\u660c\u6c5f",
                "\u8fea\u5e86",
                "\u4e03\u53f0\u6cb3",
                "\u963f\u575d",
                "\u6d77\u4e1c",
                "\u6797\u829d\u5e02",
                "\u6d77\u897f",
                "\u5e86\u9633",
                "\u6b66\u5a01",
                "\u5b9a\u897f",
                "\u65e5\u5580\u5219\u5e02",
                "\u767d\u5c71",
                "\u91d1\u660c",
                "\u4e34\u9ad8\u53bf",
                "\u8fbd\u6e90",
                "\u5f20\u6396",
                "\u9093\u5dde",
                "\u5927\u5174\u5b89\u5cad",
                "\u9647\u5357",
                "\u5e73\u51c9",
                "\u54c8\u5bc6\u5e02",
                "\u548c\u7530\u5730\u533a",
                "\u5609\u5cea\u5173",
                "\u4e50\u4e1c",
                "\u4e1c\u65b9",
                "\u5410\u9c81\u756a\u5e02",
                "\u7389\u6811",
                "\u7518\u5357",
                "\u5854\u57ce\u5730\u533a",
                "\u743c\u4e2d",
                "\u5b9a\u5b89\u53bf",
                "\u6d77\u5357",
                "\u4e34\u590f",
                "\u4e94\u6307\u5c71",
                "\u963f\u62c9\u5584\u76df",
                "\u963f\u52d2\u6cf0\u5730\u533a",
                "\u56fe\u6728\u8212\u514b\u5e02",
                "\u963f\u91cc\u5730\u533a",
                "\u4fdd\u4ead",
                "\u767d\u6c99",
                "\u90a3\u66f2\u5730\u533a",
                "\u4e09\u6c99",
                "\u5c6f\u660c\u53bf",
                "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                "\u660c\u90fd\u5e02",
                "\u679c\u6d1b",
                "\u6d77\u5317",
                "\u9ec4\u5357",
                "\u5c71\u5357\u5e02",
                "\u963f\u62c9\u5c14\u5e02",
                "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                "\u4e94\u5bb6\u6e20\u5e02"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c0e9efce24524f07ba1cf024d1b81137.setOption(option_c0e9efce24524f07ba1cf024d1b81137);
    </script>
</body>
</html>
