<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>


    <table align="center">
        <tr><td>
            <div id="1e1b3d43029e4d45b294405fb45b4a6c" class="chart-container" style="width:900px; height:500px;"></div>
        </td></tr>

        <tr><td align="center">
            <form action="/gansu">
                <input type="submit" value="返回" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
            </form>
        </td></tr>
    </table>


    <script>
        var chart_1e1b3d43029e4d45b294405fb45b4a6c = echarts.init(
            document.getElementById('1e1b3d43029e4d45b294405fb45b4a6c'), 'white', {renderer: 'canvas'});
        var option_1e1b3d43029e4d45b294405fb45b4a6c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u7518\u8083\u70ed\u95e8\u884c\u4e1a\u8bcd\u4e91\u56fe",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                6,
                66
            ],
            "data": [
                {
                    "name": "\u623f\u5730\u4ea7",
                    "value": 3029,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,61,91)"
                        }
                    }
                },
                {
                    "name": "\u5236\u836f/\u751f\u7269\u5de5\u7a0b",
                    "value": 572,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,150,119)"
                        }
                    }
                },
                {
                    "name": "\u5efa\u7b51/\u5efa\u6750/\u5de5\u7a0b",
                    "value": 499,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,112,110)"
                        }
                    }
                },
                {
                    "name": "\u5feb\u901f\u6d88\u8d39\u54c1(\u98df\u54c1\u3001\u996e\u6599\u3001\u5316\u5986\u54c1)",
                    "value": 399,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,57,58)"
                        }
                    }
                },
                {
                    "name": "\u8ba1\u7b97\u673a\u8f6f\u4ef6",
                    "value": 399,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,29,121)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u8bbe\u5907/\u5668\u68b0",
                    "value": 299,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,42,2)"
                        }
                    }
                },
                {
                    "name": "\u6559\u80b2/\u57f9\u8bad/\u9662\u6821",
                    "value": 262,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,121,31)"
                        }
                    }
                },
                {
                    "name": "\u4e92\u8054\u7f51/\u7535\u5b50\u5546\u52a1",
                    "value": 260,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,7,12)"
                        }
                    }
                },
                {
                    "name": "\u673a\u68b0/\u8bbe\u5907/\u91cd\u5de5",
                    "value": 185,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,109,100)"
                        }
                    }
                },
                {
                    "name": "\u4e13\u4e1a\u670d\u52a1(\u54a8\u8be2\u3001\u4eba\u529b\u8d44\u6e90\u3001\u8d22\u4f1a)",
                    "value": 174,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,12,8)"
                        }
                    }
                },
                {
                    "name": "\u591a\u5143\u5316\u4e1a\u52a1\u96c6\u56e2\u516c\u53f8",
                    "value": 122,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,153,151)"
                        }
                    }
                },
                {
                    "name": "\u8ba1\u7b97\u673a\u670d\u52a1(\u7cfb\u7edf\u3001\u6570\u636e\u670d\u52a1\u3001\u7ef4\u4fee)",
                    "value": 118,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,143,72)"
                        }
                    }
                },
                {
                    "name": "\u6279\u53d1/\u96f6\u552e",
                    "value": 116,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,132,68)"
                        }
                    }
                },
                {
                    "name": "\u91d1\u878d/\u6295\u8d44/\u8bc1\u5238",
                    "value": 113,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,85,150)"
                        }
                    }
                },
                {
                    "name": "\u4ea4\u901a/\u8fd0\u8f93/\u7269\u6d41",
                    "value": 109,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,68,148)"
                        }
                    }
                },
                {
                    "name": "\u5f71\u89c6/\u5a92\u4f53/\u827a\u672f/\u6587\u5316\u4f20\u64ad",
                    "value": 107,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,115,153)"
                        }
                    }
                },
                {
                    "name": "\u73af\u4fdd",
                    "value": 105,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,37,87)"
                        }
                    }
                },
                {
                    "name": "\u670d\u88c5/\u7eba\u7ec7/\u76ae\u9769",
                    "value": 104,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,107,112)"
                        }
                    }
                },
                {
                    "name": "\u4fdd\u9669",
                    "value": 100,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,45,122)"
                        }
                    }
                },
                {
                    "name": "\u7269\u4e1a\u7ba1\u7406/\u5546\u4e1a\u4e2d\u5fc3",
                    "value": 85,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,103,106)"
                        }
                    }
                },
                {
                    "name": "\u519c/\u6797/\u7267/\u6e14",
                    "value": 84,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,103,99)"
                        }
                    }
                },
                {
                    "name": "\u901a\u4fe1/\u7535\u4fe1/\u7f51\u7edc\u8bbe\u5907",
                    "value": 76,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,52,128)"
                        }
                    }
                },
                {
                    "name": "\u6c7d\u8f66",
                    "value": 74,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,40,4)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u80fd\u6e90",
                    "value": 73,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,69,13)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597/\u62a4\u7406/\u536b\u751f",
                    "value": 56,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,100,95)"
                        }
                    }
                },
                {
                    "name": "\u7535\u5b50\u6280\u672f/\u534a\u5bfc\u4f53/\u96c6\u6210\u7535\u8def",
                    "value": 55,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,74,44)"
                        }
                    }
                },
                {
                    "name": "\u8d38\u6613/\u8fdb\u51fa\u53e3",
                    "value": 54,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,114,6)"
                        }
                    }
                },
                {
                    "name": "\u9152\u5e97/\u65c5\u6e38",
                    "value": 52,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,83,142)"
                        }
                    }
                },
                {
                    "name": "\u77f3\u6cb9/\u5316\u5de5/\u77ff\u4ea7/\u5730\u8d28",
                    "value": 51,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,111,145)"
                        }
                    }
                },
                {
                    "name": "\u5962\u4f88\u54c1/\u6536\u85cf\u54c1/\u5de5\u827a\u54c1/\u73e0\u5b9d",
                    "value": 49,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,99,66)"
                        }
                    }
                },
                {
                    "name": "\u9910\u996e\u4e1a",
                    "value": 47,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,53,75)"
                        }
                    }
                },
                {
                    "name": "\u901a\u4fe1/\u7535\u4fe1\u8fd0\u8425\u3001\u589e\u503c\u670d\u52a1",
                    "value": 40,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,76,123)"
                        }
                    }
                },
                {
                    "name": "\u4eea\u5668\u4eea\u8868/\u5de5\u4e1a\u81ea\u52a8\u5316",
                    "value": 39,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,75,131)"
                        }
                    }
                },
                {
                    "name": "\u751f\u6d3b\u670d\u52a1",
                    "value": 36,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,8,147)"
                        }
                    }
                },
                {
                    "name": "\u7535\u6c14/\u7535\u529b/\u6c34\u5229",
                    "value": 31,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,71,148)"
                        }
                    }
                },
                {
                    "name": "\u5bb6\u5177/\u5bb6\u7535/\u73a9\u5177/\u793c\u54c1",
                    "value": 31,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,48,50)"
                        }
                    }
                },
                {
                    "name": "\u539f\u6750\u6599\u548c\u52a0\u5de5",
                    "value": 26,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,90,20)"
                        }
                    }
                },
                {
                    "name": "\u79df\u8d41\u670d\u52a1",
                    "value": 24,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,69,43)"
                        }
                    }
                },
                {
                    "name": "\u529e\u516c\u7528\u54c1\u53ca\u8bbe\u5907",
                    "value": 24,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,107,138)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u672f/\u79d1\u7814",
                    "value": 19,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,129,158)"
                        }
                    }
                },
                {
                    "name": "\u8ba1\u7b97\u673a\u786c\u4ef6",
                    "value": 16,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,110,151)"
                        }
                    }
                },
                {
                    "name": "\u5916\u5305\u670d\u52a1",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,19,125)"
                        }
                    }
                },
                {
                    "name": "\u6cd5\u5f8b",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,65,36)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b\uff0c\u8ba4\u8bc1",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,150,154)"
                        }
                    }
                },
                {
                    "name": "\u4f1a\u8ba1/\u5ba1\u8ba1",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,69,121)"
                        }
                    }
                },
                {
                    "name": "\u94f6\u884c",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,149,148)"
                        }
                    }
                },
                {
                    "name": "\u4fe1\u6258/\u62c5\u4fdd/\u62cd\u5356/\u5178\u5f53",
                    "value": 8,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,109,118)"
                        }
                    }
                },
                {
                    "name": "\u5e7f\u544a",
                    "value": 8,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,6,94)"
                        }
                    }
                },
                {
                    "name": "\u4e2d\u4ecb\u670d\u52a1",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,144,132)"
                        }
                    }
                },
                {
                    "name": "\u5a31\u4e50/\u4f11\u95f2/\u4f53\u80b2",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,125,77)"
                        }
                    }
                },
                {
                    "name": "\u822a\u5929/\u822a\u7a7a",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,78,21)"
                        }
                    }
                },
                {
                    "name": "\u5bb6\u5c45/\u5ba4\u5185\u8bbe\u8ba1/\u88c5\u6f62",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,125,50)"
                        }
                    }
                },
                {
                    "name": "\u6c7d\u8f66\u96f6\u914d\u4ef6",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,141,132)"
                        }
                    }
                },
                {
                    "name": "\u5370\u5237/\u5305\u88c5/\u9020\u7eb8",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,158,99)"
                        }
                    }
                },
                {
                    "name": "\u6587\u5b57\u5a92\u4f53/\u51fa\u7248",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,63,159)"
                        }
                    }
                },
                {
                    "name": "\u516c\u5173/\u5e02\u573a\u63a8\u5e7f/\u4f1a\u5c55",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,106,3)"
                        }
                    }
                },
                {
                    "name": "\u7f8e\u5bb9/\u4fdd\u5065",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,122,132)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7518\u8083\u70ed\u95e8\u884c\u4e1a\u8bcd\u4e91\u56fe",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_1e1b3d43029e4d45b294405fb45b4a6c.setOption(option_1e1b3d43029e4d45b294405fb45b4a6c);
    </script>
</body>
</html>
