<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china-cities.js"></script>

</head>
<body>

    <table align="center">
        <tr><td>
            <div id="75bf565a5b4841879fcc6575542b758c" class="chart-container" style="width:900px; height:500px;"></div>
        </td></tr>

        <tr><td align="center">
            <form action="http://127.0.0.1:8000/index/quanguo/">
                <input type="submit" value="返回" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
            </form>
        </td></tr>
    </table>
    <script>
            var chart_75bf565a5b4841879fcc6575542b758c = echarts.init(
                document.getElementById('75bf565a5b4841879fcc6575542b758c'), 'white', {renderer: 'canvas'});
            var option_75bf565a5b4841879fcc6575542b758c = {
        "animation": true,
        "animationThreshold": 2000,
        "animationDuration": 1000,
        "animationEasing": "cubicOut",
        "animationDelay": 0,
        "animationDurationUpdate": 300,
        "animationEasingUpdate": "cubicOut",
        "animationDelayUpdate": 0,
        "color": [
            "#c23531",
            "#2f4554",
            "#61a0a8",
            "#d48265",
            "#749f83",
            "#ca8622",
            "#bda29a",
            "#6e7074",
            "#546570",
            "#c4ccd3",
            "#f05b72",
            "#ef5b9c",
            "#f47920",
            "#905a3d",
            "#fab27b",
            "#2a5caa",
            "#444693",
            "#726930",
            "#b2d235",
            "#6d8346",
            "#ac6767",
            "#1d953f",
            "#6950a1",
            "#918597"
        ],
        "series": [
            {
                "type": "map",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "mapType": "china-cities",
                "data": [
                    {
                        "name": "\u91cd\u5e86",
                        "value": 94579
                    },
                    {
                        "name": "\u6210\u90fd",
                        "value": 94264
                    },
                    {
                        "name": "\u5e7f\u5dde",
                        "value": 92529
                    },
                    {
                        "name": "\u4e1c\u839e",
                        "value": 90473
                    },
                    {
                        "name": "\u4e0a\u6d77",
                        "value": 89696
                    },
                    {
                        "name": "\u676d\u5dde",
                        "value": 89473
                    },
                    {
                        "name": "\u5357\u4eac",
                        "value": 89261
                    },
                    {
                        "name": "\u6df1\u5733",
                        "value": 89244
                    },
                    {
                        "name": "\u5317\u4eac",
                        "value": 89243
                    },
                    {
                        "name": "\u897f\u5b89",
                        "value": 86824
                    },
                    {
                        "name": "\u82cf\u5dde",
                        "value": 83452
                    },
                    {
                        "name": "\u6b66\u6c49",
                        "value": 80920
                    },
                    {
                        "name": "\u5b81\u6ce2",
                        "value": 78391
                    },
                    {
                        "name": "\u4f5b\u5c71",
                        "value": 71599
                    },
                    {
                        "name": "\u957f\u6c99",
                        "value": 69839
                    },
                    {
                        "name": "\u5408\u80a5",
                        "value": 67984
                    },
                    {
                        "name": "\u65e0\u9521",
                        "value": 58320
                    },
                    {
                        "name": "\u6606\u660e",
                        "value": 57207
                    },
                    {
                        "name": "\u90d1\u5dde",
                        "value": 50232
                    },
                    {
                        "name": "\u6c88\u9633",
                        "value": 47272
                    },
                    {
                        "name": "\u9752\u5c9b",
                        "value": 37134
                    },
                    {
                        "name": "\u5e38\u5dde",
                        "value": 34467
                    },
                    {
                        "name": "\u5929\u6d25",
                        "value": 31715
                    },
                    {
                        "name": "\u6606\u5c71",
                        "value": 30344
                    },
                    {
                        "name": "\u5357\u660c",
                        "value": 27673
                    },
                    {
                        "name": "\u798f\u5dde",
                        "value": 27064
                    },
                    {
                        "name": "\u6d4e\u5357",
                        "value": 26148
                    },
                    {
                        "name": "\u5927\u8fde",
                        "value": 26132
                    },
                    {
                        "name": "\u73e0\u6d77",
                        "value": 25198
                    },
                    {
                        "name": "\u60e0\u5dde",
                        "value": 25092
                    },
                    {
                        "name": "\u5357\u901a",
                        "value": 20946
                    },
                    {
                        "name": "\u4e2d\u5c71",
                        "value": 19723
                    },
                    {
                        "name": "\u5609\u5174",
                        "value": 18636
                    },
                    {
                        "name": "\u53a6\u95e8",
                        "value": 18028
                    },
                    {
                        "name": "\u5357\u5b81",
                        "value": 15619
                    },
                    {
                        "name": "\u54c8\u5c14\u6ee8",
                        "value": 14550
                    },
                    {
                        "name": "\u6e29\u5dde",
                        "value": 12179
                    },
                    {
                        "name": "\u8d35\u9633",
                        "value": 10889
                    },
                    {
                        "name": "\u957f\u6625",
                        "value": 10813
                    },
                    {
                        "name": "\u6c5f\u95e8",
                        "value": 10146
                    },
                    {
                        "name": "\u5f90\u5dde",
                        "value": 9988
                    },
                    {
                        "name": "\u77f3\u5bb6\u5e84",
                        "value": 8951
                    },
                    {
                        "name": "\u7ecd\u5174",
                        "value": 8628
                    },
                    {
                        "name": "\u626c\u5dde",
                        "value": 8577
                    },
                    {
                        "name": "\u6e05\u8fdc",
                        "value": 8573
                    },
                    {
                        "name": "\u829c\u6e56",
                        "value": 7190
                    },
                    {
                        "name": "\u5e38\u719f",
                        "value": 7102
                    },
                    {
                        "name": "\u6e56\u5dde",
                        "value": 7057
                    },
                    {
                        "name": "\u5170\u5dde",
                        "value": 7032
                    },
                    {
                        "name": "\u6d77\u53e3",
                        "value": 7002
                    },
                    {
                        "name": "\u91d1\u534e",
                        "value": 6994
                    },
                    {
                        "name": "\u76d0\u57ce",
                        "value": 6213
                    },
                    {
                        "name": "\u53f0\u5dde",
                        "value": 6154
                    },
                    {
                        "name": "\u6cc9\u5dde",
                        "value": 6120
                    },
                    {
                        "name": "\u6e5b\u6c5f",
                        "value": 5827
                    },
                    {
                        "name": "\u6cf0\u5dde",
                        "value": 5771
                    },
                    {
                        "name": "\u8087\u5e86",
                        "value": 5718
                    },
                    {
                        "name": "\u592a\u539f",
                        "value": 5566
                    },
                    {
                        "name": "\u9547\u6c5f",
                        "value": 5075
                    },
                    {
                        "name": "\u6dee\u5b89",
                        "value": 4887
                    },
                    {
                        "name": "\u8944\u9633",
                        "value": 4644
                    },
                    {
                        "name": "\u70df\u53f0",
                        "value": 4254
                    },
                    {
                        "name": "\u7ef5\u9633",
                        "value": 4221
                    },
                    {
                        "name": "\u5f20\u5bb6\u6e2f",
                        "value": 3874
                    },
                    {
                        "name": "\u6d1b\u9633",
                        "value": 3797
                    },
                    {
                        "name": "\u5b9c\u660c",
                        "value": 3739
                    },
                    {
                        "name": "\u8fde\u4e91\u6e2f",
                        "value": 3727
                    },
                    {
                        "name": "\u8346\u5dde",
                        "value": 3690
                    },
                    {
                        "name": "\u6ec1\u5dde",
                        "value": 3660
                    },
                    {
                        "name": "\u6c55\u5934",
                        "value": 3648
                    },
                    {
                        "name": "\u592a\u4ed3",
                        "value": 3357
                    },
                    {
                        "name": "\u4e34\u6c82",
                        "value": 3272
                    },
                    {
                        "name": "\u6f4d\u574a",
                        "value": 3195
                    },
                    {
                        "name": "\u5b5d\u611f",
                        "value": 3076
                    },
                    {
                        "name": "\u8d63\u5dde",
                        "value": 3013
                    },
                    {
                        "name": "\u4e4c\u9c81\u6728\u9f50",
                        "value": 2977
                    },
                    {
                        "name": "\u5bbf\u8fc1",
                        "value": 2822
                    },
                    {
                        "name": "\u4e49\u4e4c",
                        "value": 2807
                    },
                    {
                        "name": "\u4e5d\u6c5f",
                        "value": 2749
                    },
                    {
                        "name": "\u67f3\u5dde",
                        "value": 2716
                    },
                    {
                        "name": "\u682a\u6d32",
                        "value": 2645
                    },
                    {
                        "name": "\u6cb3\u6e90",
                        "value": 2574
                    },
                    {
                        "name": "\u4fdd\u5b9a",
                        "value": 2495
                    },
                    {
                        "name": "\u961c\u9633",
                        "value": 2494
                    },
                    {
                        "name": "\u6842\u6797",
                        "value": 2485
                    },
                    {
                        "name": "\u54b8\u9633",
                        "value": 2450
                    },
                    {
                        "name": "\u9a6c\u978d\u5c71",
                        "value": 2416
                    },
                    {
                        "name": "\u5510\u5c71",
                        "value": 2413
                    },
                    {
                        "name": "\u4e0a\u9976",
                        "value": 2343
                    },
                    {
                        "name": "\u97f6\u5173",
                        "value": 2336
                    },
                    {
                        "name": "\u9ec4\u77f3",
                        "value": 2329
                    },
                    {
                        "name": "\u9633\u6c5f",
                        "value": 2318
                    },
                    {
                        "name": "\u8861\u9633",
                        "value": 2244
                    },
                    {
                        "name": "\u94f6\u5ddd",
                        "value": 2243
                    },
                    {
                        "name": "\u5eca\u574a",
                        "value": 2209
                    },
                    {
                        "name": "\u547c\u548c\u6d69\u7279",
                        "value": 2162
                    },
                    {
                        "name": "\u7709\u5c71",
                        "value": 2142
                    },
                    {
                        "name": "\u8302\u540d",
                        "value": 2120
                    },
                    {
                        "name": "\u868c\u57e0",
                        "value": 2059
                    },
                    {
                        "name": "\u4e09\u4e9a",
                        "value": 2057
                    },
                    {
                        "name": "\u5fb7\u9633",
                        "value": 2034
                    },
                    {
                        "name": "\u5357\u5145",
                        "value": 2022
                    },
                    {
                        "name": "\u5409\u5b89",
                        "value": 2013
                    },
                    {
                        "name": "\u5a01\u6d77",
                        "value": 1997
                    },
                    {
                        "name": "\u8862\u5dde",
                        "value": 1975
                    },
                    {
                        "name": "\u5e38\u5fb7",
                        "value": 1964
                    },
                    {
                        "name": "\u5cb3\u9633",
                        "value": 1947
                    },
                    {
                        "name": "\u5b9c\u5bbe",
                        "value": 1920
                    },
                    {
                        "name": "\u54b8\u5b81",
                        "value": 1914
                    },
                    {
                        "name": "\u6e58\u6f6d",
                        "value": 1914
                    },
                    {
                        "name": "\u6cf8\u5dde",
                        "value": 1876
                    },
                    {
                        "name": "\u9ec4\u5188",
                        "value": 1846
                    },
                    {
                        "name": "\u8346\u95e8",
                        "value": 1794
                    },
                    {
                        "name": "\u4e50\u5c71",
                        "value": 1767
                    },
                    {
                        "name": "\u516d\u5b89",
                        "value": 1732
                    },
                    {
                        "name": "\u5b9c\u6625",
                        "value": 1723
                    },
                    {
                        "name": "\u8386\u7530",
                        "value": 1704
                    },
                    {
                        "name": "\u6dc4\u535a",
                        "value": 1685
                    },
                    {
                        "name": "\u5b81\u5fb7",
                        "value": 1679
                    },
                    {
                        "name": "\u6d4e\u5b81",
                        "value": 1672
                    },
                    {
                        "name": "\u6885\u5dde",
                        "value": 1644
                    },
                    {
                        "name": "\u5357\u9633",
                        "value": 1567
                    },
                    {
                        "name": "\u5341\u5830",
                        "value": 1561
                    },
                    {
                        "name": "\u65b0\u4e61",
                        "value": 1545
                    },
                    {
                        "name": "\u4e3d\u6c34",
                        "value": 1518
                    },
                    {
                        "name": "\u6f33\u5dde",
                        "value": 1503
                    },
                    {
                        "name": "\u5b89\u5e86",
                        "value": 1455
                    },
                    {
                        "name": "\u63ed\u9633",
                        "value": 1421
                    },
                    {
                        "name": "\u90f4\u5dde",
                        "value": 1417
                    },
                    {
                        "name": "\u90af\u90f8",
                        "value": 1350
                    },
                    {
                        "name": "\u5bbf\u5dde",
                        "value": 1339
                    },
                    {
                        "name": "\u66f2\u9756",
                        "value": 1268
                    },
                    {
                        "name": "\u5ba3\u57ce",
                        "value": 1266
                    },
                    {
                        "name": "\u9042\u5b81",
                        "value": 1263
                    },
                    {
                        "name": "\u6ca7\u5dde",
                        "value": 1246
                    },
                    {
                        "name": "\u5fb7\u5dde",
                        "value": 1240
                    },
                    {
                        "name": "\u897f\u5b81",
                        "value": 1224
                    },
                    {
                        "name": "\u9075\u4e49",
                        "value": 1217
                    },
                    {
                        "name": "\u629a\u5dde",
                        "value": 1182
                    },
                    {
                        "name": "\u9102\u5dde",
                        "value": 1178
                    },
                    {
                        "name": "\u5927\u7406",
                        "value": 1147
                    },
                    {
                        "name": "\u83cf\u6cfd",
                        "value": 1137
                    },
                    {
                        "name": "\u6cf0\u5b89",
                        "value": 1127
                    },
                    {
                        "name": "\u978d\u5c71",
                        "value": 1109
                    },
                    {
                        "name": "\u90b5\u9633",
                        "value": 1104
                    },
                    {
                        "name": "\u5b9d\u9e21",
                        "value": 1102
                    },
                    {
                        "name": "\u79e6\u7687\u5c9b",
                        "value": 1102
                    },
                    {
                        "name": "\u6d77\u5b81",
                        "value": 1099
                    },
                    {
                        "name": "\u4e91\u6d6e",
                        "value": 1073
                    },
                    {
                        "name": "\u76ca\u9633",
                        "value": 1064
                    },
                    {
                        "name": "\u5f00\u5c01",
                        "value": 1031
                    },
                    {
                        "name": "\u4eb3\u5dde",
                        "value": 987
                    },
                    {
                        "name": "\u6f6e\u5dde",
                        "value": 979
                    },
                    {
                        "name": "\u840d\u4e61",
                        "value": 969
                    },
                    {
                        "name": "\u6c55\u5c3e",
                        "value": 969
                    },
                    {
                        "name": "\u821f\u5c71",
                        "value": 947
                    },
                    {
                        "name": "\u5185\u6c5f",
                        "value": 939
                    },
                    {
                        "name": "\u8fbe\u5dde",
                        "value": 924
                    },
                    {
                        "name": "\u4fe1\u9633",
                        "value": 916
                    },
                    {
                        "name": "\u5546\u4e18",
                        "value": 909
                    },
                    {
                        "name": "\u7126\u4f5c",
                        "value": 892
                    },
                    {
                        "name": "\u81ea\u8d21",
                        "value": 885
                    },
                    {
                        "name": "\u4e39\u9633",
                        "value": 873
                    },
                    {
                        "name": "\u5e7f\u5b89",
                        "value": 871
                    },
                    {
                        "name": "\u9a7b\u9a6c\u5e97",
                        "value": 863
                    },
                    {
                        "name": "\u6e2d\u5357",
                        "value": 858
                    },
                    {
                        "name": "\u6dee\u5317",
                        "value": 850
                    },
                    {
                        "name": "\u6dee\u5357",
                        "value": 824
                    },
                    {
                        "name": "\u968f\u5dde",
                        "value": 808
                    },
                    {
                        "name": "\u65e5\u7167",
                        "value": 802
                    },
                    {
                        "name": "\u7ea2\u6cb3",
                        "value": 797
                    },
                    {
                        "name": "\u5a04\u5e95",
                        "value": 796
                    },
                    {
                        "name": "\u6c38\u5dde",
                        "value": 796
                    },
                    {
                        "name": "\u5b89\u9633",
                        "value": 791
                    },
                    {
                        "name": "\u666f\u5fb7\u9547",
                        "value": 791
                    },
                    {
                        "name": "\u4ed9\u6843",
                        "value": 787
                    },
                    {
                        "name": "\u804a\u57ce",
                        "value": 777
                    },
                    {
                        "name": "\u6000\u5316",
                        "value": 771
                    },
                    {
                        "name": "\u94dc\u9675",
                        "value": 768
                    },
                    {
                        "name": "\u897f\u53cc\u7248\u7eb3",
                        "value": 761
                    },
                    {
                        "name": "\u90a2\u53f0",
                        "value": 756
                    },
                    {
                        "name": "\u7389\u6eaa",
                        "value": 754
                    },
                    {
                        "name": "\u9ec4\u5c71",
                        "value": 734
                    },
                    {
                        "name": "\u6cf0\u5174",
                        "value": 734
                    },
                    {
                        "name": "\u8bb8\u660c",
                        "value": 722
                    },
                    {
                        "name": "\u67a3\u5e84",
                        "value": 713
                    },
                    {
                        "name": "\u5468\u53e3",
                        "value": 703
                    },
                    {
                        "name": "\u662d\u901a",
                        "value": 690
                    },
                    {
                        "name": "\u6986\u6797",
                        "value": 689
                    },
                    {
                        "name": "\u7389\u6797",
                        "value": 686
                    },
                    {
                        "name": "\u5317\u6d77",
                        "value": 683
                    },
                    {
                        "name": "\u5f20\u5bb6\u53e3",
                        "value": 645
                    },
                    {
                        "name": "\u6ee8\u5dde",
                        "value": 623
                    },
                    {
                        "name": "\u8d44\u9633",
                        "value": 623
                    },
                    {
                        "name": "\u6c60\u5dde",
                        "value": 616
                    },
                    {
                        "name": "\u94a6\u5dde",
                        "value": 614
                    },
                    {
                        "name": "\u4e39\u4e1c",
                        "value": 612
                    },
                    {
                        "name": "\u96c5\u5b89",
                        "value": 612
                    },
                    {
                        "name": "\u695a\u96c4",
                        "value": 609
                    },
                    {
                        "name": "\u6069\u65bd",
                        "value": 604
                    },
                    {
                        "name": "\u4e1c\u8425",
                        "value": 600
                    },
                    {
                        "name": "\u5357\u5e73",
                        "value": 599
                    },
                    {
                        "name": "\u9f99\u5ca9",
                        "value": 588
                    },
                    {
                        "name": "\u8861\u6c34",
                        "value": 584
                    },
                    {
                        "name": "\u8425\u53e3",
                        "value": 583
                    },
                    {
                        "name": "\u9e70\u6f6d",
                        "value": 582
                    },
                    {
                        "name": "\u65b0\u4f59",
                        "value": 581
                    },
                    {
                        "name": "\u5e7f\u5143",
                        "value": 579
                    },
                    {
                        "name": "\u5409\u6797",
                        "value": 569
                    },
                    {
                        "name": "\u5305\u5934",
                        "value": 557
                    },
                    {
                        "name": "\u4fdd\u5c71",
                        "value": 552
                    },
                    {
                        "name": "\u4e3d\u6c5f",
                        "value": 552
                    },
                    {
                        "name": "\u5e73\u9876\u5c71",
                        "value": 549
                    },
                    {
                        "name": "\u62c9\u8428",
                        "value": 547
                    },
                    {
                        "name": "\u4e09\u660e",
                        "value": 547
                    },
                    {
                        "name": "\u9f50\u9f50\u54c8\u5c14",
                        "value": 546
                    },
                    {
                        "name": "\u6c49\u4e2d",
                        "value": 543
                    },
                    {
                        "name": "\u6bd5\u8282",
                        "value": 541
                    },
                    {
                        "name": "\u6500\u679d\u82b1",
                        "value": 521
                    },
                    {
                        "name": "\u629a\u987a",
                        "value": 518
                    },
                    {
                        "name": "\u9526\u5dde",
                        "value": 514
                    },
                    {
                        "name": "\u6587\u5c71",
                        "value": 508
                    },
                    {
                        "name": "\u68a7\u5dde",
                        "value": 505
                    },
                    {
                        "name": "\u8d35\u6e2f",
                        "value": 500
                    },
                    {
                        "name": "\u6f2f\u6cb3",
                        "value": 497
                    },
                    {
                        "name": "\u5b89\u5eb7",
                        "value": 493
                    },
                    {
                        "name": "\u6fee\u9633",
                        "value": 487
                    },
                    {
                        "name": "\u9756\u6c5f",
                        "value": 482
                    },
                    {
                        "name": "\u9ed4\u5357",
                        "value": 472
                    },
                    {
                        "name": "\u5ef6\u5b89",
                        "value": 471
                    },
                    {
                        "name": "\u5927\u5e86",
                        "value": 463
                    },
                    {
                        "name": "\u76d8\u9526",
                        "value": 457
                    },
                    {
                        "name": "\u6f5c\u6c5f",
                        "value": 457
                    },
                    {
                        "name": "\u5927\u540c",
                        "value": 455
                    },
                    {
                        "name": "\u5df4\u4e2d",
                        "value": 453
                    },
                    {
                        "name": "\u8d64\u5cf0",
                        "value": 418
                    },
                    {
                        "name": "\u627f\u5fb7",
                        "value": 414
                    },
                    {
                        "name": "\u71d5\u90ca\u5f00\u53d1\u533a",
                        "value": 412
                    },
                    {
                        "name": "\u5fb7\u5b8f",
                        "value": 400
                    },
                    {
                        "name": "\u8fd0\u57ce",
                        "value": 396
                    },
                    {
                        "name": "\u5929\u95e8",
                        "value": 392
                    },
                    {
                        "name": "\u94dc\u4ec1",
                        "value": 383
                    },
                    {
                        "name": "\u672c\u6eaa",
                        "value": 379
                    },
                    {
                        "name": "\u897f\u660c",
                        "value": 373
                    },
                    {
                        "name": "\u5f20\u5bb6\u754c",
                        "value": 373
                    },
                    {
                        "name": "\u8d3a\u5dde",
                        "value": 370
                    },
                    {
                        "name": "\u666e\u6d31",
                        "value": 362
                    },
                    {
                        "name": "\u6e58\u897f",
                        "value": 359
                    },
                    {
                        "name": "\u4e09\u95e8\u5ce1",
                        "value": 357
                    },
                    {
                        "name": "\u4e34\u6c7e",
                        "value": 356
                    },
                    {
                        "name": "\u94c1\u5cad",
                        "value": 348
                    },
                    {
                        "name": "\u7ee5\u5316",
                        "value": 347
                    },
                    {
                        "name": "\u9102\u5c14\u591a\u65af",
                        "value": 342
                    },
                    {
                        "name": "\u767e\u8272",
                        "value": 324
                    },
                    {
                        "name": "\u9e64\u58c1",
                        "value": 323
                    },
                    {
                        "name": "\u9ed4\u4e1c\u5357",
                        "value": 322
                    },
                    {
                        "name": "\u516d\u76d8\u6c34",
                        "value": 316
                    },
                    {
                        "name": "\u957f\u6cbb",
                        "value": 308
                    },
                    {
                        "name": "\u4e34\u6ca7",
                        "value": 307
                    },
                    {
                        "name": "\u8fbd\u9633",
                        "value": 296
                    },
                    {
                        "name": "\u5d07\u5de6",
                        "value": 295
                    },
                    {
                        "name": "\u510b\u5dde",
                        "value": 288
                    },
                    {
                        "name": "\u846b\u82a6\u5c9b",
                        "value": 283
                    },
                    {
                        "name": "\u5b89\u987a",
                        "value": 280
                    },
                    {
                        "name": "\u664b\u4e2d",
                        "value": 278
                    },
                    {
                        "name": "\u9ed4\u897f\u5357",
                        "value": 277
                    },
                    {
                        "name": "\u9632\u57ce\u6e2f",
                        "value": 275
                    },
                    {
                        "name": "\u94dc\u5ddd",
                        "value": 275
                    },
                    {
                        "name": "\u5580\u4ec0",
                        "value": 264
                    },
                    {
                        "name": "\u51c9\u5c71",
                        "value": 259
                    },
                    {
                        "name": "\u671d\u9633",
                        "value": 254
                    },
                    {
                        "name": "\u4f73\u6728\u65af",
                        "value": 253
                    },
                    {
                        "name": "\u6cb3\u6c60",
                        "value": 251
                    },
                    {
                        "name": "\u56db\u5e73",
                        "value": 250
                    },
                    {
                        "name": "\u6765\u5bbe",
                        "value": 247
                    },
                    {
                        "name": "\u7261\u4e39\u6c5f",
                        "value": 246
                    },
                    {
                        "name": "\u664b\u57ce",
                        "value": 245
                    },
                    {
                        "name": "\u5546\u6d1b",
                        "value": 240
                    },
                    {
                        "name": "\u961c\u65b0",
                        "value": 234
                    },
                    {
                        "name": "\u5ffb\u5dde",
                        "value": 211
                    },
                    {
                        "name": "\u96c4\u5b89\u65b0\u533a",
                        "value": 200
                    },
                    {
                        "name": "\u901a\u5316",
                        "value": 196
                    },
                    {
                        "name": "\u5415\u6881",
                        "value": 189
                    },
                    {
                        "name": "\u677e\u539f",
                        "value": 189
                    },
                    {
                        "name": "\u5f00\u5e73",
                        "value": 185
                    },
                    {
                        "name": "\u901a\u8fbd",
                        "value": 183
                    },
                    {
                        "name": "\u4e4c\u5170\u5bdf\u5e03",
                        "value": 183
                    },
                    {
                        "name": "\u767d\u57ce",
                        "value": 170
                    },
                    {
                        "name": "\u9675\u6c34",
                        "value": 169
                    },
                    {
                        "name": "\u5929\u6c34",
                        "value": 169
                    },
                    {
                        "name": "\u9633\u6cc9",
                        "value": 153
                    },
                    {
                        "name": "\u6714\u5dde",
                        "value": 149
                    },
                    {
                        "name": "\u743c\u6d77",
                        "value": 147
                    },
                    {
                        "name": "\u4e07\u5b81",
                        "value": 140
                    },
                    {
                        "name": "\u6768\u51cc",
                        "value": 137
                    },
                    {
                        "name": "\u6587\u660c",
                        "value": 133
                    },
                    {
                        "name": "\u547c\u4f26\u8d1d\u5c14",
                        "value": 132
                    },
                    {
                        "name": "\u7518\u5b5c",
                        "value": 127
                    },
                    {
                        "name": "\u5434\u5fe0",
                        "value": 127
                    },
                    {
                        "name": "\u963f\u514b\u82cf",
                        "value": 125
                    },
                    {
                        "name": "\u5df4\u5f66\u6dd6\u5c14",
                        "value": 125
                    },
                    {
                        "name": "\u6d4e\u6e90",
                        "value": 124
                    },
                    {
                        "name": "\u5ef6\u8fb9",
                        "value": 120
                    },
                    {
                        "name": "\u5df4\u97f3\u90ed\u695e",
                        "value": 111
                    },
                    {
                        "name": "\u9152\u6cc9",
                        "value": 111
                    },
                    {
                        "name": "\u4f0a\u7281",
                        "value": 111
                    },
                    {
                        "name": "\u8fea\u5e86",
                        "value": 109
                    },
                    {
                        "name": "\u9e21\u897f",
                        "value": 109
                    },
                    {
                        "name": "\u6f84\u8fc8\u53bf",
                        "value": 108
                    },
                    {
                        "name": "\u6012\u6c5f",
                        "value": 106
                    },
                    {
                        "name": "\u660c\u5409",
                        "value": 105
                    },
                    {
                        "name": "\u963f\u575d",
                        "value": 102
                    },
                    {
                        "name": "\u5e86\u9633",
                        "value": 101
                    },
                    {
                        "name": "\u9647\u5357",
                        "value": 100
                    },
                    {
                        "name": "\u5f20\u6396",
                        "value": 100
                    },
                    {
                        "name": "\u6b66\u5a01",
                        "value": 99
                    },
                    {
                        "name": "\u4e4c\u6d77",
                        "value": 97
                    },
                    {
                        "name": "\u9ed1\u6cb3",
                        "value": 93
                    },
                    {
                        "name": "\u514b\u62c9\u739b\u4f9d",
                        "value": 93
                    },
                    {
                        "name": "\u767d\u94f6",
                        "value": 92
                    },
                    {
                        "name": "\u5b9a\u897f",
                        "value": 92
                    },
                    {
                        "name": "\u56fa\u539f",
                        "value": 91
                    },
                    {
                        "name": "\u5ef6\u5409",
                        "value": 90
                    },
                    {
                        "name": "\u5174\u5b89\u76df",
                        "value": 89
                    },
                    {
                        "name": "\u8fbd\u6e90",
                        "value": 88
                    },
                    {
                        "name": "\u5e73\u51c9",
                        "value": 88
                    },
                    {
                        "name": "\u4f0a\u6625",
                        "value": 84
                    },
                    {
                        "name": "\u77f3\u5634\u5c71",
                        "value": 82
                    },
                    {
                        "name": "\u767d\u5c71",
                        "value": 80
                    },
                    {
                        "name": "\u53cc\u9e2d\u5c71",
                        "value": 80
                    },
                    {
                        "name": "\u9521\u6797\u90ed\u52d2\u76df",
                        "value": 79
                    },
                    {
                        "name": "\u9093\u5dde",
                        "value": 78
                    },
                    {
                        "name": "\u9e64\u5c97",
                        "value": 78
                    },
                    {
                        "name": "\u4e2d\u536b",
                        "value": 78
                    },
                    {
                        "name": "\u6797\u829d",
                        "value": 77
                    },
                    {
                        "name": "\u4e1c\u65b9",
                        "value": 72
                    },
                    {
                        "name": "\u4e03\u53f0\u6cb3",
                        "value": 71
                    },
                    {
                        "name": "\u5609\u5cea\u5173",
                        "value": 68
                    },
                    {
                        "name": "\u54c8\u5bc6",
                        "value": 67
                    },
                    {
                        "name": "\u6d77\u897f",
                        "value": 66
                    },
                    {
                        "name": "\u4e34\u590f",
                        "value": 66
                    },
                    {
                        "name": "\u91d1\u660c",
                        "value": 62
                    },
                    {
                        "name": "\u6d77\u4e1c",
                        "value": 60
                    },
                    {
                        "name": "\u77f3\u6cb3\u5b50",
                        "value": 58
                    },
                    {
                        "name": "\u548c\u7530",
                        "value": 56
                    },
                    {
                        "name": "\u795e\u519c\u67b6",
                        "value": 53
                    },
                    {
                        "name": "\u4e50\u4e1c",
                        "value": 53
                    },
                    {
                        "name": "\u5410\u9c81\u756a",
                        "value": 48
                    },
                    {
                        "name": "\u5927\u5174\u5b89\u5cad",
                        "value": 45
                    },
                    {
                        "name": "\u65e5\u5580\u5219",
                        "value": 40
                    },
                    {
                        "name": "\u660c\u6c5f",
                        "value": 38
                    },
                    {
                        "name": "\u5b9a\u5b89\u53bf",
                        "value": 36
                    },
                    {
                        "name": "\u5854\u57ce",
                        "value": 36
                    },
                    {
                        "name": "\u4e34\u9ad8\u53bf",
                        "value": 35
                    },
                    {
                        "name": "\u7518\u5357",
                        "value": 34
                    },
                    {
                        "name": "\u6d77\u5357",
                        "value": 30
                    },
                    {
                        "name": "\u4e94\u6307\u5c71",
                        "value": 29
                    },
                    {
                        "name": "\u7389\u6811",
                        "value": 28
                    },
                    {
                        "name": "\u963f\u62c9\u5584\u76df",
                        "value": 26
                    },
                    {
                        "name": "\u5c71\u5357",
                        "value": 25
                    },
                    {
                        "name": "\u743c\u4e2d",
                        "value": 25
                    },
                    {
                        "name": "\u660c\u90fd",
                        "value": 22
                    },
                    {
                        "name": "\u535a\u5c14\u5854\u62c9",
                        "value": 21
                    },
                    {
                        "name": "\u963f\u52d2\u6cf0",
                        "value": 19
                    },
                    {
                        "name": "\u679c\u6d1b",
                        "value": 19
                    },
                    {
                        "name": "\u5c6f\u660c\u53bf",
                        "value": 17
                    },
                    {
                        "name": "\u6d77\u5317",
                        "value": 16
                    },
                    {
                        "name": "\u4fdd\u4ead",
                        "value": 15
                    },
                    {
                        "name": "\u9ec4\u5357",
                        "value": 15
                    },
                    {
                        "name": "\u90a3\u66f2",
                        "value": 14
                    },
                    {
                        "name": "\u767d\u6c99",
                        "value": 11
                    },
                    {
                        "name": "\u514b\u5b5c\u52d2\u82cf",
                        "value": 11
                    },
                    {
                        "name": "\u4e09\u6c99",
                        "value": 10
                    },
                    {
                        "name": "\u963f\u91cc",
                        "value": 9
                    },
                    {
                        "name": "\u56fe\u6728\u8212\u514b",
                        "value": 7
                    },
                    {
                        "name": "\u963f\u62c9\u5c14",
                        "value": 6
                    },
                    {
                        "name": "\u4e94\u5bb6\u6e20",
                        "value": 6
                    }
                ],
                "roam": true,
                "aspectScale": 0.75,
                "nameProperty": "name",
                "selectedMode": false,
                "zoom": 1,
                "mapValueCalculation": "sum",
                "showLegendSymbol": true,
                "emphasis": {}
            }
        ],
        "legend": [
            {
                "data": [
                    ""
                ],
                "selected": {
                    "": true
                },
                "show": true,
                "padding": 5,
                "itemGap": 10,
                "itemWidth": 25,
                "itemHeight": 14
            }
        ],
        "tooltip": {
            "show": true,
            "trigger": "item",
            "triggerOn": "mousemove|click",
            "axisPointer": {
                "type": "line"
            },
            "showContent": true,
            "alwaysShowContent": false,
            "showDelay": 0,
            "hideDelay": 100,
            "textStyle": {
                "fontSize": 14
            },
            "borderWidth": 0,
            "padding": 5
        },
        "title": [
            {
                "text": "\u4e2d\u56fd\u5404\u5730\u533a\u5c97\u4f4d\u6570\u91cf\u5206\u5e03\u56fe",
                "padding": 5,
                "itemGap": 10
            }
        ],
        "visualMap": {
            "show": true,
            "type": "continuous",
            "min": 0,
            "max": 100000,
            "inRange": {
                "color": [
                    "#50a3ba",
                    "#eac763",
                    "#d94e5d"
                ]
            },
            "calculable": true,
            "inverse": false,
            "splitNumber": 5,
            "orient": "vertical",
            "showLabel": true,
            "itemWidth": 20,
            "itemHeight": 140,
            "borderWidth": 0
        }
    };
            chart_75bf565a5b4841879fcc6575542b758c.setOption(option_75bf565a5b4841879fcc6575542b758c);
        </script>
</body>
</html>
