<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>


    <table align="center">
        <tr><td>
            <div id="3ba6e457e3de4777986670f0e0ea1ff8" class="chart-container" style="width:900px; height:500px;"></div>
        </td></tr>

        <tr><td align="center">
            <form action="/xizang">
                <input type="submit" value="返回" style="font-size : 20px; border:0;cursor:pointer;width:100px;height:60px;" />
            </form>
        </td></tr>
    </table>


    <script>
        var chart_3ba6e457e3de4777986670f0e0ea1ff8 = echarts.init(
            document.getElementById('3ba6e457e3de4777986670f0e0ea1ff8'), 'white', {renderer: 'canvas'});
        var option_3ba6e457e3de4777986670f0e0ea1ff8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u897f\u85cf\u70ed\u95e8\u884c\u4e1a\u8bcd\u4e91\u56fe",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                6,
                66
            ],
            "data": [
                {
                    "name": "\u8ba1\u7b97\u673a\u8f6f\u4ef6",
                    "value": 75,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,60,6)"
                        }
                    }
                },
                {
                    "name": "\u623f\u5730\u4ea7",
                    "value": 53,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,105,26)"
                        }
                    }
                },
                {
                    "name": "\u9152\u5e97/\u65c5\u6e38",
                    "value": 53,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,11,112)"
                        }
                    }
                },
                {
                    "name": "\u5feb\u901f\u6d88\u8d39\u54c1(\u98df\u54c1\u3001\u996e\u6599\u3001\u5316\u5986\u54c1)",
                    "value": 50,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,142,74)"
                        }
                    }
                },
                {
                    "name": "\u5efa\u7b51/\u5efa\u6750/\u5de5\u7a0b",
                    "value": 47,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,90,46)"
                        }
                    }
                },
                {
                    "name": "\u5236\u836f/\u751f\u7269\u5de5\u7a0b",
                    "value": 47,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,122,42)"
                        }
                    }
                },
                {
                    "name": "\u901a\u4fe1/\u7535\u4fe1/\u7f51\u7edc\u8bbe\u5907",
                    "value": 44,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,107,141)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597/\u62a4\u7406/\u536b\u751f",
                    "value": 38,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,91,35)"
                        }
                    }
                },
                {
                    "name": "\u4e92\u8054\u7f51/\u7535\u5b50\u5546\u52a1",
                    "value": 34,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,54,97)"
                        }
                    }
                },
                {
                    "name": "\u4e13\u4e1a\u670d\u52a1(\u54a8\u8be2\u3001\u4eba\u529b\u8d44\u6e90\u3001\u8d22\u4f1a)",
                    "value": 25,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,20,47)"
                        }
                    }
                },
                {
                    "name": "\u591a\u5143\u5316\u4e1a\u52a1\u96c6\u56e2\u516c\u53f8",
                    "value": 24,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,5,92)"
                        }
                    }
                },
                {
                    "name": "\u5f71\u89c6/\u5a92\u4f53/\u827a\u672f/\u6587\u5316\u4f20\u64ad",
                    "value": 23,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,44,42)"
                        }
                    }
                },
                {
                    "name": "\u8ba1\u7b97\u673a\u670d\u52a1(\u7cfb\u7edf\u3001\u6570\u636e\u670d\u52a1\u3001\u7ef4\u4fee)",
                    "value": 19,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,5,31)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u8bbe\u5907/\u5668\u68b0",
                    "value": 17,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,127,135)"
                        }
                    }
                },
                {
                    "name": "\u6279\u53d1/\u96f6\u552e",
                    "value": 17,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,134,53)"
                        }
                    }
                },
                {
                    "name": "\u7535\u6c14/\u7535\u529b/\u6c34\u5229",
                    "value": 14,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,116,112)"
                        }
                    }
                },
                {
                    "name": "\u8d38\u6613/\u8fdb\u51fa\u53e3",
                    "value": 14,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,75,145)"
                        }
                    }
                },
                {
                    "name": "\u4ea4\u901a/\u8fd0\u8f93/\u7269\u6d41",
                    "value": 14,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,14,106)"
                        }
                    }
                },
                {
                    "name": "\u673a\u68b0/\u8bbe\u5907/\u91cd\u5de5",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,86,55)"
                        }
                    }
                },
                {
                    "name": "\u73af\u4fdd",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,70,2)"
                        }
                    }
                },
                {
                    "name": "\u901a\u4fe1/\u7535\u4fe1\u8fd0\u8425\u3001\u589e\u503c\u670d\u52a1",
                    "value": 12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,159,104)"
                        }
                    }
                },
                {
                    "name": "\u7269\u4e1a\u7ba1\u7406/\u5546\u4e1a\u4e2d\u5fc3",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,126,74)"
                        }
                    }
                },
                {
                    "name": "\u519c/\u6797/\u7267/\u6e14",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,85,121)"
                        }
                    }
                },
                {
                    "name": "\u6559\u80b2/\u57f9\u8bad/\u9662\u6821",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,127,149)"
                        }
                    }
                },
                {
                    "name": "\u7535\u5b50\u6280\u672f/\u534a\u5bfc\u4f53/\u96c6\u6210\u7535\u8def",
                    "value": 8,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,22,145)"
                        }
                    }
                },
                {
                    "name": "\u5bb6\u5c45/\u5ba4\u5185\u8bbe\u8ba1/\u88c5\u6f62",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,36,50)"
                        }
                    }
                },
                {
                    "name": "\u91d1\u878d/\u6295\u8d44/\u8bc1\u5238",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,92,112)"
                        }
                    }
                },
                {
                    "name": "\u5bb6\u5177/\u5bb6\u7535/\u73a9\u5177/\u793c\u54c1",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,18,90)"
                        }
                    }
                },
                {
                    "name": "\u9910\u996e\u4e1a",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,135,78)"
                        }
                    }
                },
                {
                    "name": "\u5962\u4f88\u54c1/\u6536\u85cf\u54c1/\u5de5\u827a\u54c1/\u73e0\u5b9d",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,124,8)"
                        }
                    }
                },
                {
                    "name": "\u4eea\u5668\u4eea\u8868/\u5de5\u4e1a\u81ea\u52a8\u5316",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,115,68)"
                        }
                    }
                },
                {
                    "name": "\u5370\u5237/\u5305\u88c5/\u9020\u7eb8",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,25,104)"
                        }
                    }
                },
                {
                    "name": "\u8ba1\u7b97\u673a\u786c\u4ef6",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,80,115)"
                        }
                    }
                },
                {
                    "name": "\u6c7d\u8f66",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,146,94)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u80fd\u6e90",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,159,6)"
                        }
                    }
                },
                {
                    "name": "\u4f1a\u8ba1/\u5ba1\u8ba1",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,27,11)"
                        }
                    }
                },
                {
                    "name": "\u529e\u516c\u7528\u54c1\u53ca\u8bbe\u5907",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,101,80)"
                        }
                    }
                },
                {
                    "name": "\u6cd5\u5f8b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,128,160)"
                        }
                    }
                },
                {
                    "name": "\u4e2d\u4ecb\u670d\u52a1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,136,133)"
                        }
                    }
                },
                {
                    "name": "\u822a\u5929/\u822a\u7a7a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,21,156)"
                        }
                    }
                },
                {
                    "name": "\u4fdd\u9669",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,81,0)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u897f\u85cf\u70ed\u95e8\u884c\u4e1a\u8bcd\u4e91\u56fe",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_3ba6e457e3de4777986670f0e0ea1ff8.setOption(option_3ba6e457e3de4777986670f0e0ea1ff8);
    </script>
</body>
</html>
